global !p
def to_camelcase(value):
	return "".join(word[0].upper() + word[1:] for word in value.split('_'))
endglobal

snippet func "bare function"
${1:void} ${2:Function}($3)
{
	$0
}
endsnippet

snippet inc "include"
#include <$1>
endsnippet

snippet inc" "local include"
#include "$1"
endsnippet
