snippet link "Link"
[$1](${2:http://} ${3:"Title"})
endsnippet

snippet br "Break Line"
* * *

endsnippet

snippet h1 "Header 1"
# $1 #
endsnippet

snippet h2 "Header 2"
## $1 ##
endsnippet

snippet h3 "Header 3"
### $1 ###
endsnippet

snippet h4 "Header 4"
#### $1 ####
endsnippet

snippet h5 "Header 5"
##### $1 #####
endsnippet

snippet h6 "Header 6"
###### $1 ######
endsnippet
